@height: 360px;
@width: 900px;
@backgroundColor: rgba(128, 128, 128, 0.267);

.left-border-width{
  width: calc(@width - 250px); //650px
  height: @height - 292px;
}

.right-border-width{
  width: calc(@width - 651px); //249px
  height: @height - 292px;
}

.middle-left-border-width-height {
  width: calc(@width - 250px); //650px
  height: calc(@height - 138px);
}

.middle-right-border-width-height {
  width: calc(@width - 651px); //249px
  height: calc(@height - 138px);
}

.outer-border {
  height: @height;
  width: @width;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  border: @border;
}

.inner-border-top-left { 
  .left-border-width();
  border-radius: 25px 0px 0px 0px;
  border-bottom: @border;
  background-color: @backgroundColor;
  .inner-left-content-box {
    width: calc(@width - 400px);
    height: @height - 330px;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    margin: 10px 115px 0px 35px;
    .inner-left-content {
      font-size: .75em;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}

.inner-border-top-right { 
  .right-border-width();
  border-radius: 0px 25px 0px 0px;
  border-left: @border;
  border-bottom: @border;
  background-color: @backgroundColor;
  .inner-right-content-box {
    width: calc(@width - 616px); //249px
    height: @height - 302px;
    box-sizing: content-box;
    margin: 10px 0px 0px 35px;
    .inner-right-content {
      font-size: .75em;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}

.inner-border-middle-left { //190
  .middle-left-border-width-height();
  background-color: white;
  .inner-middle-left-content-box {
    width: @width - 315px;
    height: @height - 148px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 35px 0px 35px;
    .inner-middle-left-content {
      font-size: .75em;
      font-family: Arial, Helvetica, sans-serif;
      .flight-info-layout {
        display: flex; 
        justify-content: space-between;
      }
      .tracking-border-top {
        border: 0;
        border-top: @border;
        .tracking-layout-outer-layer{
          display: flex;
          justify-content: space-between;
          margin: 10px 0px 10px 0px;
          .tracking-lable {
            height: 15px;
            width: 68px;
          }
          .data-lable {
            height: 15px;
            width: 35px;
          }
          .options-lable {
            height: 15px;
            width: 65px;
          }
        }
      }
    }
  }
}

.inner-border-middle-right {//190
  .middle-right-border-width-height();
  border-left: 1px solid rgb(167, 160, 160);
  background-color: white;
}

.inner-border-bottom-left {//70
  .left-border-width();
  border-radius: 0px 0px 0px 25px;
  border-top: @border;
  display: flex;
  justify-content: center;
  .airline-logo-box {
    width: 500px;
    height: @height - 292px;
  }
}

.inner-border-bottom-right {//70
  .right-border-width();
  border-radius: 0px 0px 25px 0px;
  border-left: @border;
  border-top: @border;
  background-color: white;
}
