.logo-bar-container {
  width: 100%;
  height: 80px;
  background: white;
  display: flex;
  align-items: center;
  .logo-plane{
    width: 100px;
    height: 80px;
    background: no-repeat url("../../images/plane.png");
  }
  .logo-lookup{
    width: 200px;
    height: 80px;
    background: no-repeat url("../../images/lookup.png");
  }
}